.home {

    section {
        position: relative;

        &.section1 {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            
            img {
                width: 100%;
                z-index: -1;
            }
            div {
                position: absolute;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: end;
                align-items: center;

                p {
                    color: white;
                }
                a {
                    margin-bottom: 80px;  
                }
            }
        }
        &.section2 {
            position: relative;

            h2 {
                text-align: center;
                font-size: 48px;
            }
            div {
                @extend %grid;

                article {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;                
    
                    img {
                        width: 100%;
                        border-radius: 8px;
                    }
                    .bold {
                        font-size: 24px;
                        font-weight: bold;
                        margin: 0;
                    }
                    p {
                        font-size: 16px;
                        margin: 0;
                    }
                }
                .track1 {
                    grid-column: 1 / 5;
                }
                .track2 {
                    grid-column: 5 / 9;
                }
                .track3 {
                    grid-column: 9 / 13;
                }
            }
        }
        &.section3 {
            position: relative;

            h2 {
                text-align: center;
                font-size: 48px;
            }
            div {
                @extend %grid;
                gap: 80px;

                article {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;                
    
                    img {
                        width: 100%;
                        aspect-ratio: 1 / 1;
                        border-radius: 1000px;
                    }
                    .bold {
                        font-size: 14px;
                        font-weight: bold;
                        margin: 0;
                    }
                    .light {
                        font-size: 14px;
                        font-weight: normal;
                        margin: 0;
                    }
                    p {
                        font-size: 14px;
                        font-weight: lighter;
                        margin: 0;
                    }
                }
                .event1 {
                    grid-column: 1 / 4;
                }
                .event2 {
                    grid-column: 4 / 7;
                }
                .event3 {
                    grid-column: 7 / 10;
                }
                .event4 {
                    grid-column: 10 / 13;
                }
            }
        }
    }
}