:root {
  --primary: #F196BA;
}

body {
  margin: 0;
  overflow-x: hidden;
}

h1, h2, h3 {
  font-family: "Staatliches";
  text-transform: uppercase;
}

a, p {
  font-family: "Inter";
  text-decoration: none;
}

.button {
  color: black;
  background-color: white;
  padding: 16px 64px;
  border-radius: 100px;
}

.home section.section3 div, .home section.section2 div, nav {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 36px;
  padding: 0 80px;
}

nav {
  width: 100vw;
  height: 80px;
  position: relative;
  background-color: var(--primary);
}
nav::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("../images/background/AdobeStock_960928924.png") no-repeat 20% 50%/190%;
  opacity: 0.25;
  mix-blend-mode: soft-light;
  z-index: 1;
}
nav section {
  height: 80px;
  z-index: 2;
}
nav section img {
  height: 100%;
}
nav section a {
  font-family: "Staatliches";
  text-transform: uppercase;
}
nav section.nav-img {
  grid-column: 1/2;
}
nav section.nav-link {
  grid-column: 3/10;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 48px;
}
nav section.nav-link a {
  font-size: 24px;
  color: white;
}

.home section {
  position: relative;
}
.home section.section1 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home section.section1 img {
  width: 100%;
  z-index: -1;
}
.home section.section1 div {
  position: absolute;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}
.home section.section1 div p {
  color: white;
}
.home section.section1 div a {
  margin-bottom: 80px;
}
.home section.section2 {
  position: relative;
}
.home section.section2 h2 {
  text-align: center;
  font-size: 48px;
}
.home section.section2 div article {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home section.section2 div article img {
  width: 100%;
  border-radius: 8px;
}
.home section.section2 div article .bold {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}
.home section.section2 div article p {
  font-size: 16px;
  margin: 0;
}
.home section.section2 div .track1 {
  grid-column: 1/5;
}
.home section.section2 div .track2 {
  grid-column: 5/9;
}
.home section.section2 div .track3 {
  grid-column: 9/13;
}
.home section.section3 {
  position: relative;
}
.home section.section3 h2 {
  text-align: center;
  font-size: 48px;
}
.home section.section3 div {
  gap: 80px;
}
.home section.section3 div article {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home section.section3 div article img {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 1000px;
}
.home section.section3 div article .bold {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}
.home section.section3 div article .light {
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}
.home section.section3 div article p {
  font-size: 14px;
  font-weight: lighter;
  margin: 0;
}
.home section.section3 div .event1 {
  grid-column: 1/4;
}
.home section.section3 div .event2 {
  grid-column: 4/7;
}
.home section.section3 div .event3 {
  grid-column: 7/10;
}
.home section.section3 div .event4 {
  grid-column: 10/13;
}/*# sourceMappingURL=input.css.map */